{% extends "admin/base_site.html" %}
{% block extrahead %}
{{ block.super }}
{{ media }}
{% endblock %}
{% block content %}
<h1>{{ title }}</h1>

<form method="post">
    {% csrf_token %}
    <h2>选中的标签:</h2>
    <ul>
        {% for tag in tags %}
        <li>{{ tag.name }}</li>
        <input type="hidden" name="_selected_action" value="{{ tag.pk }}">
        {% endfor %}
    </ul>
    
    <h2>选择歌曲:</h2>
    {{ form.as_p }}
    
    <input type="hidden" name="action" value="batch_tag_songs_action">
    <input type="hidden" name="apply" value="1">
    
    <button type="submit" class="default">确定</button>
    <a href="{% url 'admin:main_tag_changelist' %}" style="margin-left:20px;">取消</a>
</form>
{% endblock %}