{% extends "admin/base_site.html" %}
{% block content %}
<h1>合并以下歌曲：</h1>
<form method="post">{% csrf_token %}
    <p>请选择一个歌曲作为保留主项，其它将被合并并删除：</p>
    <ul>
        {% for song in songs %}
        <li>
            <label>
                <input type="radio" name="master_id" value="{{ song.id }}" required>
                {{ song.song_name }} - {{ song.singer }}
            </label>
        </li>
        {% endfor %}
    </ul>
    <input type="hidden" name="ids" value="{{ ids }}">
    <input type="hidden" name="next" value="{{ next }}">
    <input type="submit" value="确认合并">
</form>
{% endblock %}